.ecs-settings-container,
.ecs-values-container {
    flex: 1;
    padding: 10px 15px;
}

.ecs-edit-block {
    display: flex;
}

.ecs-key-value {
    display: flex;
    :first-child {
        margin-right: 10px;
    }
    > div {
        flex: 1;
    }
}